<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
    <script src="/javascripts/script.js"></script>    
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
